name: Security Scanning

on:
  push:
    branches: 
      - '**' 
      #sji todo - turn on!
  #schedule:
  #  - cron: '0 2 * * *'  # Nightly at 2 AM UTC
  
permissions:
  contents: read
  security-events: write

jobs:
  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate GitHub CLI
        run: |
          echo "${{ secrets.GH_TOKEN }}" | gh auth login --with-token

      - name: SAST Scan using trivy
        uses: ./.github/actions/security/trivy
        with:
          terraform_version: ${{ steps.tf-version.outputs.version }}

      - name: SAST Scan using Checkov
        uses: ./.github/actions/security/checkov
